.logo{
  height: 50px;
  width: 50px;
}

#carousel-example-generic, .carousel-inner, .carousel-item, .carousel-item img{
  max-height: 60vh;
  width: 100%;
}

.bandeau{
  height: 30px;
  background-color: red;
  color:white;
}

.card{
    border-radius: 0 !important;
    height:450px;
    margin-top:50px;
}

h1{
  width: 100%auto;
  text-align: center;
  margin-top: 40px;
  padding: 20px 0 20px 0;
}

h2{
width: auto;
text-align: center;
padding-top: 10PX;
}


footer{
  margin-left: 35%;
}



.tex{
  margin :auto 5%;
}

.text{
padding-top: 20px;
}

.hr1 {
  border: 1px blue dashed;
  margin: 30px 0 0 400px;;
  width: 65%;
}
/********************** map ********************/
.map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}

header {
    background-color: #F5F5F5;
    color: #36A0FF;
    height: 70px;
    font-size: 27px;
    /*padding: 10px;*/
}
/************************ contact.html *********************/
.image{
  width: 100%;
  height: 400px;

}

.contact{
  margin-top: 40px;
}

.t-photo {
  height: 600px;
}

/************************* footer *********************/
   #contRow {
       margin-bottom: 70px;
   }

   .faicons {
       position: relative;
       height: 3em;
       width: 13.5em;
       text-align: center;
       padding-top: 100px;
   }

   .faicons li {
       display: block;
       height: 4em;
       line-height: 4em;
       margin: -2.2em;
       position: absolute;
       -webkit-transition: -webkit-transform .7s;
       -moz-transition: -moz-transform .7s;
       -ms-transition: -ms-transform .7s;
       -o-transition: -o-transform .7s;
       transition: transform 0.7s;
       -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       transform: rotate(45deg);
       text-align: center;
       width: 4em;
   }

   .faicons a {
       color: #fffdf0;
       display: block;
       height: 4em;
       line-height: 6em;
       text-align: center;
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
       transform: rotate(-45deg);
       width: 4em;
   }

   .faicons li:hover {
       -webkit-transform: scale(1.3,1.3) rotate(-35deg);
       -moz-transform: scale(1.3,1.3) rotate(-35deg);
       -ms-transform: scale(1.3,1.3) rotate(-35deg);
       -o-transform: scale(1.3,1.3) rotate(-35deg);
       transform: scale(1.3,1.3) rotate(-35deg);
   }

   .faspot_1 {
       background: #1A85BC;
       left: 0;
       top: 50%;
   }

   .faspot_2 {
       background: #02aaf8;
       top: 75;
       left: 25%;
   }

   .faspot_3 {
       background: #5EA9DD;
       left: 50%;
       top: 50%;
   }

   .faspot_4 {
       background: #DC4A38;
       top: 75;
       left: 75%;
   }

   .faspot_5 {
       background: #FF4500;
       left: 100%;
       top: 50%;
   }

   .faspot_6 {
       background: #000000;
       top: 75;
       left: 125%;
   }
/**************************** formulaire contact**********************/

button{
  margin-top: 20px;
}

/**************************** formulaire conseil**********************/
#cnt1 {
     background-color:rgba(215, 212, 212, 0.88);
     width:90%;
     margin-bottom:70px;
 }

 .feature{
     padding: 20px 0;
    text-align: center;
 }
 .feature > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
 }
 .feature > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(128, 128, 128);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 5px;
    background: rgba(232, 215, 215, 0.10);
    transition: 0.3s;
 }

/**************************** formulaire réservations**********************/
 .header {
     color: #36A0FF;
     font-size: 27px;
     padding: 10px;
 }

 .bigicon {
     font-size: 35px;
     color: #36A0FF;

.form{
  float:right;
  border: 1px solid blue;
  padding:5px;
}

.photo1{
  float:left;
}
img {
  margin-left: 50%;
}
